extends layout

block content
  h1= title

  p #[strong Category Name:] #{category.name}

  hr 

  if succulents.length
    
    p #[strong Please Delete the following succulents before attempting to delete this Category]

    div(style='margin-left:20px; margin-top:20px;')

      h4 Succulents
        
        each succulent in succulents
          hr
          p #{succulent.name}
          p #{succulent.nickname}
          p #{succulent.sku}
          p #[string ID: ]
            a(href=succulent.url) #{succulent.id}
  else 
    p Do you really want to delete this category?

    form(action="" method="POST")
      div.form-group 
        input#id.form-control(type="hidden" name="id" required value=category._id)
      button.btn.btn-primary(type="submit") Delete
