extends layout

block content
  h1= title

  form(action="" method="POST")
    div.form-group
      label(for="title") Name:
      input#title.form-control(type="text", placeholder="Name of Succulent" name="title" required=(succulent===undefined ? "" : succulent.name))
    div.form-group
      label(for="nick-name") Also Known as:
      input#nick-name.form-control(type="text" placeholder="Nick Name (optional)" name="nick-name")
    div.form-group 
      label(for="summary") Summary:
      textarea#summary.form-control(type="textarea", placeholder="Description of Succulent" name="summary" required)
    div.form-group
      label Plant Type:
      div
        for plantType in types
          div(style='display: inline; padding-right: 10px;')
            input.checkbox-input(type="checkbox" name="plant-type" id=plantType._id value=plantType._id checked=plantType.checked)
            label(for=plantType._id) #{plantType.name}
    div.form-group
      label(for="category") Category:
      select#category.form-control(type="select" placeholder="Select Category" name="category" required)
        for category in categories
          option(value=category._id) #{category.name}

    button.btn.btn-primary(type='submit') Submit

    if errors
      ul
        for error in errors
          li!= error.msg